<div id="container">

  <form action="/results" method="post" class="submit-form">
    <label class="label">Submit your URLs: </label>
    <textarea name="urls"></textarea>
    <input type="submit" id="submit-btn" value="Generate Media Monitor" />
  </form>

</div>
